/* Variables */
:root {
    --medium-color: #D9D9D9;
    --last-color: #353535;
    --main-bg-color: #284B63;
}

/* Global */
body {
    background-color: var(--medium-color);
    font-family: Rubik;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* This is the Nav Bar */
header {
	background-color: var(--main-bg-color);
    color: var(--medium-color);
	display: flex;
}

h1 {
    min-inline-size: max-content;
    padding-left: 30px;
}

nav {
    background-color: var(--main-bg-color);
    margin-top: 0%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: var(--medium-color);
    display: block;
    margin-right: 15px;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style: none;
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


nav a:hover {
    color: var(--last-color);
}

/* Hero Image */
section .illustration {
    background-color: #ffffff;
    border-radius: 10px;
}

.illustration img {
    display: block;
    margin: auto;
    height: 600px;
    padding: 10px 0px;
}

/* This is the body section */
h2 {
    text-align: center;
    color: var(--main-bg-color);
}

.bio {
    background-color: var(--main-bg-color);
    text-align: justify;
    margin: 0px 25px;
    padding: 2em;
    border-radius: 8px;
    color: #ffffff;
}

.about {
    padding-bottom: 30px;
}

/* Artwork Section */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.artwork {
    border-radius: 10px 10px;
    border: solid var(--main-bg-color) 2px;
    float: left;
    margin: 2px;
    margin-bottom: 40px;
    opacity: 1;
    text-align: center;
    transform: scale(0.9);
}

.artwork h3 {
    background-color: var(--main-bg-color);
    border-radius: 10px 10px 0px 0px;
    color: var(--medium-color);
    margin-top: -3px;
    padding: 8px 0px;
}

.web-dev {
    background-color: #ffffff;
    margin-top: -25px;
}

h2#web-dev {
    padding-top: 20px;
}

.artwork img {
    min-width: 300px;
}

/* Hover animation */
.artwork:hover,
.artwork:hover h2 {
    opacity: 0.7;
    transform: scale(0.97);
}

/* Footer Section */
.footer {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

.footer a {
    color: var(--medium-color);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
}

.footer a:hover {
    color: var(--last-color);
    font-weight: bold;
}

@media screen and (max-width: 500px) {
	header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h1 {
		padding: 0;
		text-align: center;
	}

	nav {
		padding: 0.5rem;
	}

	.ul {
		display: flex;
		flex-direction: column;
	}
